*{
    margin:0;
    scroll-behavior:smooth;
    transition-duration:0.5s
}


                                        /* navbar */


.navbar{
    display:flex;
    position:fixed;
}

.content{
    width:300px;

}


.content-section{
    border-top:1px solid white;
    border-radius:25px;   
    border:1px solid black;
    margin-top:20px;
    position:relative;
    height:220vh;
    background-color:#fefff7f6
}

.content ul{
    display:flex;
    justify-content:space-around;
}

.content ul h2{
    color:#eec6c6;
    font-size:20px;
    opacity:0.1
}

.content ul li{
    list-style:none;
    margin-top:20px;
}

.list:hover{
    cursor:pointer;
    font-size:larger;
}

.content ul li a{
    text-decoration:none;
    color:#f58383;
}

.content ul li a:hover{
    color:black;
    transition-duration:0.5s;
}
                                        

                                        /* Logo */


.logo{
    margin-left:100px;
}                                        

.logo h3{
    color:#eec6c6;
    font-size:40px;

}

.logo span{
    color:#f58383;
}


/* search box */

.search-div{
    margin-right:100px;

}

.search-bar{
    flex-direction:row;
}

.search-button{
    border:1px solid #f58383;
    width:200px;
    height:40px;
    border-radius:25px;
    text-align:center;
}

.search-button:hover{
    transition-duration:0.3s;
    width:210px;
    height:45px;                        
}

.userimage{
    width:40px;
    height:40px;
    margin-left:20px;
    padding-right:0;
    border-radius:100px;
    border:1px solid #f91d1d;
    opacity:0.5
}

.userimage:hover{
    width:50px;
    height:50px;
    margin-left:20px;
    padding-right:0;
    border-radius:100px;
    border:1px solid #f91d1d;
    opacity:0.9
}
  

                                          /*  */
                                          /*  */

                                            /*content-section */


                                   /* social media div */


.network{
    margin-top:150px;;
    margin-left:1420px;
    width:100px;
    height:300px;
    background-color:#f58383;
    border:1px solid white;
    border-top-left-radius: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:25px;
    position:fixed;
}    

.network a{
    color:black;
    cursor:pointer;
}

.network ul li{
    list-style:none;
}

.fa-brands{
    font-size:40px;
    margin-top:40px;
}

.fa-brands:hover{
    font-size:50px;
    margin-top:40px;
    
}


                                        /* entry */


.welcome{
    width:400px;
    height:50px;
    border:0px solid black;
    margin-left:590px;
    position:absolute;
    margin-top:200px;
    color:#ddabab;
}

.welcome h2{
    font-size:50px;
    margin-left:30px;
    text-shadow:1px 1px 4px rgb(198, 174, 113);
    font-weight:100;
    font-family: 'Baloo Tamma 2', cursive;
    opacity:0.7
    
}

.logo-name{
        width:1200px;
        height:70px;
        border:0px solid black;
        margin-left:220px;
        position:absolute;
        margin-top:270px;
}

.logo-name h1{
        color:#eec6c6;
        text-shadow:1px 1px 1px white;
        text-align:center;
        font-size:180px;
        margin-top:0;
        margin-left:60px;
        margin-right:180px;
    }

span{
    color:#f58383;

}    

.description{

        width:450px;
        height:170px;
        border:1px dotted #f39a9a;
        margin-left:535px;
        position:absolute;
        margin-top:580px;
        border-radius:30px
}


.description ul{
    flex-direction:column;
}

.description ul li{
    list-style:none;
    font-size:25px;
    text-align:center;
    margin-top:10px;
    justify-content:left
}


.sign-up{
    position:absolute;
    margin-top:900px;
    margin-left:280px;
    width:900px;
    height:100px;
    border:0px solid black;
    display:flex;
}

.text{
    width:500px;
    height:50px;
    border:0px solid black;
    margin-top:25px;
    margin-left:200px;
    padding-left:0
}

.text h2{
    font-family:cursive;
    margin-left:0px;
    font-size:50px;;


}

.arrow{
    width:100px;
    height:20px;
    border:0px solid black;
    margin-top:35px;
    margin-left:50px;
}

.sign-up .sign-up-button button{
    height:60px;
    width:130px;
    background-color:#f58383;
    color:white;
    margin-left:45px;
    margin-top:15px;
    border-radius:30px;
    border:1px solid white;
}

.sign-up .sign-up-button button:hover{
    transition-duration:0.2s;
    background-color:white;
    color:#f58383;
}



                                         /* download buttons */

.button-div{
    position:absolute
}




                                               /* friends */



.friends{
    margin-top:170vh;
    border:1px dotted #f39a9a;
    height:220vh;
    width:80%;
    background-color:white;
    margin-left:20vh;
    border-radius:50px;
    
}

.friends .text{
    border:0px solid black;
    margin-top:100px;
    margin-left:470px;
    
}

.friends .text h2{
    color:#f58383;

}

hr{
    width:50%;
    height:2px;
    color:#f91d1d;
    position:absolute;
    margin-top:100px;
    margin-left:25vh;
}

.profile-name{
    margin-left:10px;
    margin-top:8px;
    margin-bottom:0
}

.friends .content{
    border:0px solid black;
    width:220px;
    height:220px;
    margin-left:20vh;
    margin-top:25vh;
    border-radius:100px;
}

.row2{
    display:flex;
    margin-top:0;
    margin-left:180px;
}

.row3{
    display:flex;
}

.friends-image{
    width:250px;
    height:250px;
    border-radius:100px;
    margin-top:10px;
    margin-left:10px;
}

.follow-button{
    width:200px;
    height:50px;
    border-radius:30px;
    background-color:#f58383;
    color:white;
    border:1px solid white;
    margin-top:29px;
    margin-left:30px;
}

.follow-button:hover{
    transition-duration:0.4s;
    width:220px;
    height:60px;
    border-radius:30px;
    background-color:white;
    color:#f58383;
    border:0px solid white;
    margin-top:29px;
    margin-left:50px;
}

        /* posts */



 .posts{
    margin-top:190vh;
    height:260vh;
    width:80%;
    background-color:white;
    margin-left:20vh;
    border:1px solid #f39a9a;
    border-radius:35px;
 }

#post-text{
    height:50px;
    width:300px;
    border:0px solid black;
    margin-left:460px;
    margin-top:20%;
    text-align:center;
 }

#post-text h2{
    font-size: 50px;
    color:#f58383;
    font-family:cursive;
 }


 .post-div{
    border:0px solid black;
    height:100vh;
    width:90%;
    margin-top:15%;
    margin-left:5%;
    display:flex;
 }

.post-div a{
    color:black;
}

 .post-content{
   width:300px;
   height:500px;
   border:1px solid #f58383;
   margin-left:50px;
   margin-top:70px;
   border-radius:35px;
 }

 .post-content:hover{
    width:310px;
    height:510px;
    border-top:0px ;
    border-left:0px ;
    border-bottom:2px solid #f91d1d;
    border-right:2px solid #f91d1d;
    margin-left:50px;
    margin-top:70px;
 }

 .post-image{
    border-top:0;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    width:250px;
    height:250px;
    border-radius:100px;
    position:absolute;
    margin-top:30px;
    margin-left:20px;
 }

 .post-hr{
     margin-top:320px;
     margin-left:50px;
     width:25vh;
     border:1px dotted black;
     opacity:0.1
 }

 .post-text{
    margin-top:350px;
    text-align:center;
    position:absolute;
    margin-left:50px;
 }

.post-para{
    margin-top:400px;
    
    position:absolute;
 }


 /* second-div */

 .post-div2{
    border:0px solid black;
    height:100vh;
    width:90%;
    margin-top:0%;
    margin-left:5%;
    display:flex;

 }

 .post-div2 a{
    color:black;
}




                                      /*  download section*/

.downloads{
    width:1519px;
    height:70vh;
    border:0px solid black;
    margin-top:200px;
    margin-left:0px;
    background-color:#f58383;
    color:white;
}


.text-area{
    margin-top:240px;
    margin-left:150px;
    border:0px solid black;
    position:absolute;
}

.text-area h3{
    margin-left:105px;
    font-weight:300
}

.download-buttons{
    margin-left:130vh;
    margin-top:100px;
    padding-top:180px;
}

.download-buttons li{
    list-style:none;

}

.apple{
    margin-top:0
}

.download-buttons li button{
    list-style:none;
    width:180px;
    height:60px;
    margin-top:10px;
    border-radius:30px;
    border:1px solid white;
    background-color:#f58383;
    color:white;

}

.download-buttons li button:hover{
    width:190px;
    height:65px;
    border-radius:30px;
    border:none;
    background-color:white;
    color:#f58383;
}




                                       /* about us */



                                       
.about-us{
    border:3px solid #f39a9a;
    width:1300px;
    margin-left:100px;
    height:90vh;
    margin-top:300px;
    border-radius:30px;
}                      

.about-us .content{
    display:flex;
    width:180vh;
}

.explain{
   border:1px solid #ddabab;
   width:90vh;
   height:50vh;
   margin-left:10vh;
   margin-top:10vh;
   border-radius:35px;
}



.about-us .text h2{
    margin-left:45vh;
    margin-top:10vh;
    color:#f58383;
    width:70vh;
}

.about-text-hr{
    width:70vh;
    margin-left:50vh;
    margin-top:5vh;
    color:#ee9797;
}


.about-us .logo{
    border:0px solid black;
    height:20vh;
    width:50vh;
    margin-top:170px;
    font-size:100px;
}

.about-us .logo h3{
    font-size:80px;
}
.about-us .logo span{
    font-size:80px;
}

.explain ul{
    flex-direction:column;
    margin-left:35px;
}

.explain ul li{
    list-style:circle;
    color:rgba(0, 0, 0, 0.503);
    margin-top:30px;
    margin-left:30px;
    font-size:20px;
}





                                          /* Founders */



.founder{
    border:3px solid #f39a9a;
    width:1300px;
    margin-left:100px;
    height:90vh;
    margin-top:300px;
    border-radius:30px;
}

.founder .text{
    width:100vh;
}


.founder .text h2{
    color:#f58383;
    margin-left:35vh;
    margin-top:10vh
}

.founder-hr{
    width:70vh;
    margin-left:60vh;
    margin-top:5vh;
    color:#ee9797;
}

.founder .content{
    display:flex;
    width:170vh;
}

.founder-img{
    width:300px;
    height:300px;
    border:1px solid black;
    border-radius:150px;
    margin-top:15vh;
    margin-left:5vh;
}

.founder-img img{
    width:300px;
    height:300px;
    border-radius:150px;
    margin-top:0vh;
    margin-left:0vh;
    opacity:0.6
}

.founder .my-description{
    width:750px;
    height:350px;
    border:1px solid #f39a9a;
    border-radius:40px;
    margin-left:110px;
    margin-top:13vh;
}

.founder-description {
    display:flex;
    margin-top:10vh;
}

.founder-description-h2{

    font-size:25px;
    margin-left:5vh;
    margin-right:1vh;
    color:#f58383; 
    text-align:center;

}


                                        /*  footer   */



footer{
    background-color:rgb(63, 61, 61);
    color:white;height:40vh;
    width:1519px;
    margin-top:200px;
}            


footer .logo{
    border:0px solid white;
    height:10vh;
    width:30vh;
    margin-left:8vh;
    margin-top:15vh;
    position:absolute;
}

footer .logo h3{
    font-size:50px;
}

footer .logo span{
    font-size:50px;
}

.nav-content{
    border:1px solid white;
    height:25vh;
    width:25vh;
    border-radius:12.5vh;
    position:absolute;
    margin-top:10vh;
    margin-left:90vh;
}

.nav-content ul li{
    list-style:circle;
    font-size:larger;
    margin-top:3vh;
    margin-left:4vh;
}

.nav-content ul a{
    text-decoration:none;
    color:white;
}

.nav-content ul a:hover{
    text-decoration:none;
    color:#f58383;
}

.copyright{
    border:0px solid white;
    height:10vh;
    width:50vh;
    position:absolute;
    margin-top:15vh;
    margin-left:140vh;
    display:flex;
}

.copyright i{
    font-size:50px;
}

.copyright h2{
    margin-left:2vh;
}
